VITE_ENV=production
VITE_DEBUG=false
VITE_APP_NAME=PAM
VITE_SECURE_LOCAL_STORAGE=true

VITE_PAM_DATA_RESIDENCY=eu
VITE_CLOUD_SYNC_ENABLED=true
VITE_CLOUD_PROVIDER=scaleway-eu
VITE_CLOUD_REGION_POLICY=eu-only

VITE_AUTH_API_URL=https://pameuropestagingapie8be34a0-pam-sync-server.functions.fnc.nl-ams.scw.cloud
VITE_API_URL=https://pameuropestagingapie8be34a0-pam-sync-server.functions.fnc.nl-ams.scw.cloud
VITE_CLOUD_SYNC_ENDPOINT=https://pameuropestagingapie8be34a0-pam-sync-server.functions.fnc.nl-ams.scw.cloud/api/pam/sync/push
